<a href="https://colab.research.google.com/github/ArifAygun/Webscraping/blob/main/AA_Largest_mining_companies_by_market_cap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [115]:
from google.colab import drive
drive.mount('/content/drive/')
%cd /content/drive/My Drive/Web_Scraping/

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).
/content/drive/My Drive/Web_Scraping

In [116]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from pprint import pprint

In [117]:
base_site = 'https://companiesmarketcap.com/mining/largest-mining-companies-by-market-cap/'
response = requests.get(base_site)
response

In [ ]:
html = response.content
pprint(html)

In [ ]:
soup = BeautifulSoup(html, "html.parser")
soup

In [ ]:
soup.find('head')

In [121]:
soup.find('title').text

'Largest mining companies by market cap'

In [ ]:
table = soup.find_all('table')

print(table)

In [123]:
soup.find('table', class_ = "table-container shadow")

Getting Titles of Table with ``th`` tag

In [124]:
soup.find_all('th')

[<th class="th-id-1 th-rank sorting sorting_asc" tid="1">Rank</th>,
 <th class="th-id-2 th-name sorting" tid="2">Name</th>,
 <th class="th-id-3 th-mcap sorting text-right" tid="3">Market Cap</th>,
 <th class="th-id-4 th-price sorting text-right" tid="4">Price</th>,
 <th class="th-id-5 th-1d sorting rh-sm" tid="5">Today</th>,
 <th class="th-id-6 th-30d no-sort" tid="6">Price (30 days)</th>,
 <th class="th-id-7 th-country sorting" tid="7">Country</th>]

In [125]:
titles = soup.find_all('th')

In [126]:
table_titles = [title.text.strip() for title in titles]

print(table_titles)

['Rank', 'Name', 'Market Cap', 'Price', 'Today', 'Price (30 days)', 'Country']

In [127]:
df = pd.DataFrame(columns= table_titles)
df

Empty DataFrame
Columns: [Rank, Name, Market Cap, Price, Today, Price (30 days), Country]
Index: []

Getting Rows of Table With ``tr`` tag

In [128]:
column_data = soup.find_all('tr')
column_data

[<tr><th class="th-id-1 th-rank sorting sorting_asc" tid="1">Rank</th><th class="th-id-2 th-name sorting" tid="2">Name</th><th class="th-id-3 th-mcap sorting text-right" tid="3">Market Cap</th><th class="th-id-4 th-price sorting text-right" tid="4">Price</th><th class="th-id-5 th-1d sorting rh-sm" tid="5">Today</th><th class="th-id-6 th-30d no-sort" tid="6">Price (30 days)</th><th class="th-id-7 th-country sorting" tid="7">Country</th></tr>]

In [129]:
for row in column_data:
  row_data = row.find_all('td')
  individual_row_data = [data.text.strip() for data in row_data]

  print(individual_row_data)

[]